.text-link {
    color: inherit;
    text-decoration: inherit;
}
.Link {
    color: inherit;
    text-decoration: none;
}
.Buttons {
    height: 3em;
    width: 10em;
}
.Card {
    margin: 1.3rem 1.3rem;
    margin-top: 2rem;
    height: 9em;
}
.ButtonCard {
    display: flex;
    justify-content: center;
    margin: 1.3rem 1.3rem;
    padding: 1.9rem;
    margin-top: 2rem;
    height: 12em;
}

.Photo {
    height: 9em;
    width: 20%;
}

.MovieButton{
    height: 7em;
    width: 7em;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: #34454c;
}

.DeleteButton{
    height: 7em;
    width: 7em;
    display: flex;
    margin-right: 3em;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #34454c;
}

.InnerBox {
    height: 6em;
    width: 6em;
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
}
.Icon{
    margin-top: 1.6em;
    transform: scale(2.5);
}

.Typography {
    text-align: left;
    margin: 2.5 em 0;
    margin-top: 2rem;
    font-weight: bold;
}
.Text {
    text-align: left;
    font-weight: bold;
}

.MovieTitle {
    text-align: left;
    font-weight: bold;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.MovieGenre {
    text-align: left;
    padding-left: 2rem;
    padding-top: 0.7rem;
}
.CustomButton {
    display: flex;
    align-items: center;
    justify-content: right;
}
.BackGround {
    height: 100em;
    min-height : '100vh';
    align-items: top;
    text-align: center;
    justify-content: center;
}
.InnerBackGround {
    align-items: top;
    text-align: center;
    justify-content: center;
    height: 80vh;
    padding: 5%;
    overflow-y: scroll;
}

.InnerBackGround::-webkit-scrollbar {
    display: none;
}

.CityCard {
    position: relative;
    text-align: center;
    width: 100%;
    height: 10vw;
    overflow:hidden;
    border-radius: 15px;

}
.CityImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
.CityText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    font-size: 6vw;
    font-family: 'Roboto', sans-serif;
}

.NoCinemas {
    width: 20%;
    text-align: center;
    position: relative; /* Use absolute or fixed if you want it centered regardless of other elements */
    left: 50%;
    transform: translateX(-50%);
    margin: 1em;
    padding: 1em;
}