.text-link {
    color: inherit;
    text-decoration: inherit;
}
.Link {
    color: inherit;
    text-decoration: none;
}
.Buttons {
    height: 3em;
    width: 10em;
}

.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Card {
    margin: 1.3rem 0;
    margin-top: 2rem;
    height: 9em;
}

.TwoPerRow .Card {
  width: 48%;
}

.OnePerRow .Card {
  width: 100%;
}

.ToggleButton {
  margin-top: -2em;
  padding: 0.1em 0.2em;
  cursor: pointer;
  border-radius: 15px;
  border: white 4px solid;
  color: white;
  scale: 2;
  background-color: #34454c;
}

.AdminButtonRow {
  display: flex;
  margin-top: 3em;
  gap: 1em;
  position: relative;
}

.ButtonRow {
  display: flex;
  justify-content: flex-end;
  margin-top: 3em;
  margin-right: 2em;
}

.AdminButton {
  margin: 0 auto;
}

.ButtonWrapper {
  position: relative;
  right: 2em;
}

.ButtonCard {
    display: flex;
    justify-content: center;
    margin: 1.3rem 1.3rem;
    padding: 1.9rem;
    margin-top: 2rem;
    height: 12em;
}

.InfoButton {
    display: flex;
    height: 100%;
    margin-right: 4em;
    margin-top: 3.4em;
    transform: scale(2.5);
}

.Photo {
    height: 9em;
    width: 20%;
    object-fit: contain;
    object-position: center;
}

.MovieButton{
    height: 7em;
    width: 7em;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: #34454c;
}

.DeleteButton{
    height: 7em;
    width: 7em;
    display: flex;
    margin-right: 3em;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #34454c;
}

.InnerBox {
    height: 6em;
    width: 6em;
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
}
.Icon{
    margin-top: 1.6em;
    transform: scale(2.5);
}

.Typography {
    text-align: left;
    margin: 2.5 em 0;
    margin-top: 2rem;
    font-weight: bold;
}
.Text {
    text-align: left;
    font-weight: bold;
}

.MovieTitle {
    text-align: left;
    font-weight: bold;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.MovieGenre {
    text-align: left;
    padding-left: 2rem;
    padding-top: 0.7rem;
}
.CustomButton {
    display: flex;
    align-items: center;
    justify-content: right;
}
.BackGround {
    height: 100em;
    min-height : '100vh';
    align-items: top;
    text-align: center;
    justify-content: center;
}
.InnerBackGround {
    align-items: top;
    text-align: center;
    justify-content: center;
    height: 80vh;
    padding: 5%;
    overflow-y: scroll;
}

.InnerBackGround::-webkit-scrollbar {
    display: none;
}

.CityCard {
    position: relative;
    text-align: center;
    width: 100%;
    height: 10vw;
    z-index: 2;
    overflow: hidden;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
  }

.CityOverlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.CityText {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    font-size: 5vw;
    font-family: 'Roboto', sans-serif;
}

.ContainerWrapper {
    position: relative; 
    z-index: 0;
  }

.MapToggleButton {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 3;
    padding: 8px 14px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 1s ease;
}

.MapToggleButton:hover {
    background-color: #dddddd;
}

.SlideMapWrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s ease;
    opacity: 0;
    position: relative;
    z-index: 1;
    margin-top: -10px;
  }
  
  .SlideMapWrapper.open {
    max-height: 600px; 
    opacity: 1;
  }

.SlideMap {
    margin-top: -10px;
}
  
@keyframes slideDown {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}

.CityImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.NoCinemas {
    width: 20%;
    text-align: center;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    margin: 1em;
    padding: 1em;
}