.Icon{
    transform: scale(2.3);
    margin-top: 0.9em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.BackgroundColor {
    background-color: #660C0C;
}

.Header{
    display: flex;
    height: 15vh;
}

.DeleteButton{
    height: 7em;
    width: 7em;
    display: block;
    margin-right: 3em;
    justify-content: center;
    border-radius: 50%;
    background-color: #04AA6D;
}

.Link {
    color: inherit;
    text-decoration: none;
    margin: 3%;
}

.HeaderText {
    display: flex; 
    text-align: center; 
}

.Accordion::before {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.Accordion {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    width: 16em;
    text-align: center;
    position: relative;
}

.AccordionDetails {
    position: absolute;
    background: white;
    width: 15em;
    box-shadow: 1px 8px 10px rgba(0,0,0,0.1);
    z-index: 999;
}

.AccordionSummary.MuiAccordionSummary-root {
    justify-content: center !important; 
}

.AccordionSummary {
    display: flex;
    justify-content: center !important;
    text-align: center !important;
    margin-left: 5%;
    background-color: #FFF !important; 
    border: none !important;
    box-shadow: none !important;
} 

.TheatersText{
    justify-content: center;
    text-align: center;
}

.WholeHeader {
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0; 
    background-color: #FFF; 
}

.HeaderBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}

.Logo {
    display: flex;
    justify-content: right;
    padding-right: 1%;
    width: 6em;
}

.AppBar {
    background-color: #FFF; 
}

